body {
    font-family: century gothic;
    font-color:white;
}
* {
    margin:0;
    padding: 0;
    list-style:none;
    text-decoration:none;
}
.sidebar {
    position:fixed;
    left: 5px;
    color:white;
    width: 250px;
    height: 100%;
    background:darkgrey ;
}
.sidebar header {
    background: grey;
    color:white;
    text-align:center;
    line-height: 60px;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 50%;
    width: 100%;
    line-height: 30px;
    font-size: 20px
    font-color:white;
    padding: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;


 }

ul li:hover{
    padding-left: 50px
}
.sidebar ul li a{
    color: black;
    

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;